@model IEnumerable<IndexAccountViewModel>

@{
    ViewData["Title"] = "Accounts";

    string FormatBalance(decimal balance)
    {
        return Math.Abs(balance).ToString("N");
    }

    string getClassBalance(decimal balance)
    {
        return balance >= 0 ? "active" : "passive";
    }
}

<h1>Account List</h1>

<a asp-action="Create" class="btn btn-primary mb-3">Create accounts</a>

<div class = "contenedor-totales mb-3">
    <div>
        <div>
            <strong>Actives</strong>
        </div>
        <div class="active">
            @FormatBalance(Model.Where(x => x.Balance > 0).Sum(x => x.Balance))
        </div>
      </div>
      <div>
         <div>
            <strong>Passive</strong>
        </div>
        <div class="passive">
            @FormatBalance(Model.Where(x => x.Balance < 0).Sum(x => x.Balance))
        </div>
      </div>
      <div>
          <div>
              <strong>Total</strong>
          </div>
          <div>
              @FormatBalance(Model.Sum(x => x.Balance))
          </div>
      </div>
</div>

<div class = " accordion accordion-Accounts">
    @foreach(var accountTypes in Model)
    {
        <div class="accordion-item">
            <h2 class="accordion-header" id="cabeceraUno">
                @{
                    var id = accountTypes.AccountTypes.Replace(" ", "");
                    var dataBSTarget = "#" + id;
                    var classAccountTypes = getClassBalance(accountTypes.Balance);
                }
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target=@dataBSTarget>
                    <span class="me-3">
                        <span>
                            <strong>
                                @accountTypes.AccountTypes
                            </strong>
                        </span>
                        <span class="@classAccountTypes">
                            @FormatBalance(accountTypes.Balance)
                        </span>
                    </span>
                </button>
            </h2>
            <div id="@id" class="accordion-collapse show">
                <div>
                    <ul class="list-group">
                        @foreach (var accounts in accountTypes.Account)
                        {
                            var classAccount = getClassBalance(accounts.Balance);
                            <li class="list-group-item">
                                <span>
                                    <strong>
                                        @accounts.Name
                                    </strong>
                                    <a asp-action="Modify"  asp-route-id="@accounts.Id" class="btn-primary btn">
                                        <i class="bi-pencil-fill"></i>
                                    </a>
                                    <a  asp-action="Delete" asp-route-id="@accounts.Id" class="btn-danger btn">
                                        <i class="bi-trash-fill"></i>
                                    </a>
                                </span>
                                   <span class="@classAccount">
                                    @FormatBalance(accounts.Balance)
                                </span>
                            </li>

                        }
                    </ul>
               </div>
           </div>
        </div>
    }
</div>